<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <table style="width:100%;">
            <tr>
                <td style="width:25%; ">
                    <div class="input-group mb-2">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </div>
                </td>
                <td style="width:50%; text-align: center;">
                    <form action="#" th:action="@{/}" method="post">
                        <div class="input-group mb-2">
                            <input name="word" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </form>
                </td>
                <td>
                    <div sec:authorize="hasAuthority('ROLE_ADMIN')">>
                        Only for admin
                    </div>
                </td>
                <div  sec:authorize="isAnonymous()">
                    <td style="width:25%; text-align: right;">
                        <a href="/login"><button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Login</button></a>
                    </td>
                </div>
                <div  sec:authorize="!isAnonymous()">
                    <td style="width:25%;">

                        <div class="dropdown show" style="margin-left: 49%;" >
                            <a th:text="${username}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <a th:text="${username}" sec:authorize="!hasAuthority('ADMIN')" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/product/new" sec:authorize="hasAuthority('ADMIN')">Add New Product</a>
                                <a class="dropdown-item" href="/category" sec:authorize="hasAuthority('ADMIN')">Show Categories</a>
                                <a class="dropdown-item" href="/company" sec:authorize="hasAuthority('ADMIN')">Show Companies</a>
                                <a class="dropdown-item" href="/user/details" sec:authorize="hasAuthority('USER')">Show profile</a>
                                <a class="dropdown-item" href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
                            </div>
                        </div>

                    </td>
                </div>
            </tr>
        </table>
    </nav>
    <div class="btn-group">
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
            <div th:each="cat : ${categories}">
                <a class="dropdown-item" th:href=" '/category/' + ${cat.getId()} " th:text="${cat.getCategoryName()}"></a>
            </div>
        </div>
    </div>
    </div>
    <div class="btn-group">
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Companies
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
            <div th:each="comp : ${companies}">
                <a class="dropdown-item" th:href=" '/company/' + ${comp.getId()}" th:text="${comp.getCompanyName()}"></a>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>